{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic", // defaults to classic
        "importSource": "../runtime" // defaults to react (only in automatic runtime)
      }
    ]
  ]
}